html, body {	
    margin: 0 0;
    padding: 0 0;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px;
}

.container {
    position: relative;
}

.filterList {
    list-style-type: none;
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 0px;
}

.filterList li {
    display: inline-block;
    margin-right: 10px;
}

.filterList li.active {
    font-weight: bold;
}

#d3container {
    font-size: 1em;
    overflow: hidden;
}

#d3container .node {
    cursor: pointer;
}

#d3container .node .circle:hover {
    stroke: black;
    stroke-width: 3px;
}

.tooltip {
    padding: 6px;
    display: block;
    background: #fff;
    border: solid 1px #eee;
    pointer-events: none;
    box-shadow: 0px 0px 2px #888888;
    -webkit-box-shadow: 0px 0px 2px #888888;
    -moz-box-shadow: 0px 0px 2px #888888;
}

.tooltip .toolTipRow{
    display: block;
}

.tooltip .tooltip-item {
    display: block;
}
    
.graph-label-container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    font-family: Arial;
    font-size: .8em;
    color: #333;
}

.node-label span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.node-label {
    display: block;
    -moz-text-overflow: clip;
    text-overflow: clip;
    overflow: hidden;
    text-align: center;
    position: absolute;
    cursor: pointer;
}

.breadcrumb {
    font-size: 12px;
}

.toolbar {
    background: #eee;
    font-size: .9em;
    padding: 4px;
    width: 100%;
}

a {
    text-decoration: none;
    color: #4992dc;
}

a:hover {
    color: #000;
}

.bubble-enter {
    -ms-opacity: 0.01;
    opacity: 0.01;
}

.bubble-enter.bubble-enter-active {
    -ms-opacity: 1;
    opacity: 1;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}

.bubble-leave {
    -ms-opacity: 1;
    opacity: 1;
}

.bubble-leave.bubble-leave-active {
    -ms-opacity: 0.01;
    opacity: 0.01;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}